<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="bg-image"
      style="
        background-image: url('https://arktura.com/wp-content/uploads/2020/05/Arktura-Vapor-Trail-Feature-Shoe-Store-Las-VegasNV_Web_2-1-scaled.jpg');
        height: 100vh;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="container h-100">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      <div
                        class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"
                      >
                        <p
                          class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2"
                        >
                          Sign up
                        </p>

                        <form
                          class="mx-1 mx-md-4"
                          action="/stores/register"
                          method="post"
                        >
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="email"
                                id="form3Example3c"
                                class="form-control"
                                name="email"
                                autocomplete="off"
                              />
                              <label class="form-label" for="form3Example3c"
                                >Your Email</label
                              >
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-0">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="password"
                                id="form3Example4c"
                                class="form-control"
                                name="password"
                                autocomplete="off"
                              />
                              <label class="form-label" for="form3Example4c"
                                >Password</label
                              >
                            </div>
                          </div>

                          <div
                            class="form-check d-flex justify-content-center mb-3 mt-0"
                          ></div>
                          <div class="d-flex justify-content-center mx-4 mt-0">
                            <button
                              type="submit"
                              class="btn btn-primary btn-lg"
                            >
                              Register
                            </button>
                          </div>
                        </form>
                      </div>

                      <div
                        class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                      >
                        <img
                          src="https://media.istockphoto.com/id/176849998/photo/pair-of-white-tennis-shoes-in-front-of-white-background.jpg?s=612x612&w=0&k=20&c=03T3Deztmb8XQDrxPjz09iSa5uLq7fwuiOIfpcg6rVo="
                          class="img-fluid"
                          alt="Sample image"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
